.card {
  background-color: white;
  border-radius: 3px;
  padding: 50px;
}

.container {
  margin: 0 auto;
  max-width: 40em;
}

.label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.input {
  background-image: none !important;
  border: 2px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 50px;
  padding: 15px;
  width: 100%;
}

.input:focus {
  border-color: #69F798;
  outline: none;
}

.col2 {
  display: flex;
}

.column {
  flex-grow: 1;
  margin-right: 30px;
}

.column:last-child {
  margin-right: 0;
}

.title {
  font-size: 32px;
  text-align: center;
  margin: 75px 0;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color: #69D9F7;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  min-width: 150px;
  padding: 10px 15px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #5FC3DE;
}

.button:focus {
  outline: none;
}

.link {
  color: #69D9F7;
  display: block;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link:hover {
  color: #5FC3DE;
  text-decoration: none;
}
