.landingImage {
  background: url('../../public/images/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
}

.darkWrapper {
  background-color: rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100vw;
}

.title {
  color: white;
  font-size: 5em;
}
