.container {
  display: flex;
}

.column {
  flex-grow: 1;
  background-color: #eee;
  border-radius: 3px;
  padding: 15px;
  height: 100%;
  max-width: 50%;
}

.leftColumn {
  margin-right: 5px;
  max-width: 50%;
}

.rightColumn {
  margin-left: 5px;
  max-width: 50%;
}

.message {
  background-color: white;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  padding: 15px;
}

.messageBody {
  border-top: 1px solid #eee;
  padding-top: 10px;
  margin-top: 10px;
  word-wrap: break-word;
}

.link {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  margin: none;
  font: inherit;
  padding: none;
}

.button {
  background-color: #69D9F7;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  min-width: 150px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #5FC3DE;
}

.button:focus {
  outline: none;
}
