.navbar {
  align-items: center;
  background-color: white;
  border: none;
  border-radius: 0;
  display: flex;
  height: 50px;
  position: relative;
  text-decoration: none;
  z-index: 99;
}

.logo {
  height: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 90em;
  width: 100%;
}

.navBrand {
  align-items: center;
  display: flex;
  color: #172135;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
}

.brand {
  margin-left: 5px;
}

.rightNav {
  align-items: center;
  display: flex;
}

.navLink {
  color: #444;
  font-size: 15px;
  font-weight: 300;
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #69D9F7;
}

.landingNavbar {
  composes: navbar;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.landingNavBrand {
  composes: navBrand;
  color: white;
}

.landingNavLink {
  composes: navLink;
  color: white;
}
