.form {
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.title {
  font-size: 32px;
  text-align: center;
  margin: 25px 0;
}

.form label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.form input {
  background-image: none !important;
  border: 2px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 15px;
}

.form textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 15px;
  font-family: sans-serif;
}

.expandable {
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  background-color: #fff;
}

.link {
  display: block;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  margin: none;
  font: inherit;
  padding: none;
}

.form select {
  background-color: #69D9F7;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  min-width: 150px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #69D9F7;
  transition: background-color 0.3s ease;
}

.save_button {
  background-color: #69D9F7;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  min-width: 150px;
  padding: 10px 15px;
  float: right;
  transition: background-color 0.3s ease;
}

.form button {
  background-color: #69D9F7;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  min-width: 150px;
  padding: 10px 15px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #5FC3DE;
}

.form button:focus {
  outline: none;
}

.form img {
  max-height: 424px;
  max-width: 100%;
  position: relative;
  display: inline-block;
}

.container {
  display: flex;
}

.column {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 3px;
  padding: 15px;
  height: 100%;
  max-width: 50%;
}

.leftColumn {
  margin-right: 5px;
  max-width: 50%;
  text-align: center;
  align-content: center;
  align-items: center;
}

.rightColumn {
  margin-left: 5px;
  max-width: 50%;
}

.owned {
  margin-left: 5px;
  max-width: 50%;
}

.renting {
  margin-left: 5px;
  max-width: 50%;
}

.linkList {
  color: #69D9F7;
  margin-bottom: 10px;
  text-decoration: none;
  transition: color 0.3s ease;
  display: block;
}

.linkList:hover {
  color: #5FC3DE;
  text-decoration: none;
}
