.container {
  display: flex;
  height: calc(100vh - 50px);
}

.postingsContainer {
  width: 60%;
  overflow-y: scroll;
}

.map {
  width: 40%;
}

.card {
  width: 365px;
  margin: 0 10px;
  margin-bottom: 20px;
}

.cardGrid {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cardText {
  background-color: white;
  border-radius: 0 0 3px 3px;
  padding: 0 20px 20px 20px;
}

.postImage {
  border-radius: 3px 3px 0 0;
  height: 300px;
  object-fit: cover;
  width: 365px;
}

.postImageGradient {
  width: 365px;
  height: 300px;
  background: linear-gradient( 0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0) 40%);
  display: block;
  position: relative;
  top: -302px;
  margin-bottom: -300px;
  border-radius: 3px 3px 0 0;
}

.postPrice {
  color: white;
  display: inline-block;
  position: relative;
  top: -45px;
  height: 0;
  font-weight: 700;
  font-size: 24px;
}

.postTitle {
  color: #444;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 10px;
}

.postSubtitle {
  display: inline-block;
  font-weight: 300;
  text-decoration: none;
  color: #aaa;
}

.marker {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #444;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.markerNum {
  font-size: 20px;
  font-family: 'Helvetica Neue', arial, sans-serif;
  color: #444;
  text-decoration: none;
}
