.container {
  padding-top: 10%;
  position: relative;
}

.postingscontainer {
  display: flex;
}

.title {
  font-size: 32px;
  text-align: center;
  margin: 25px 0;
}

label {
  display: block;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

.column {
  flex-grow: 1;
  background-color: #fff;
  border-radius: 3px;
  padding: 15px;
  height: 100%;
  max-width: 50%;
}

.leftColumn {
  margin-right: 5px;
  max-width: 50%;
}

.rightColumn {
  margin-left: 5px;
  max-width: 50%;
}

.card {
  background-color: white;
  border: transparent;
  box-shadow: transparent;
  height: 200px;
  width: 650px;
  z-index: -1;
  position: absolute;
}

.center {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.avatar {
  display: inline;
  border-radius: 3px;
  height: 200px;
  object-fit: cover;
  width: 200px;
  padding: 0;
  margin: 0;
}

.info {
  display: inline-block;
  text-align: left !important;
  padding-left: 20px;
}

.other {
  position: relative;
}

.name {
  position: absolute;
  top: 10px;
  font-size: 30px;
  font-weight: bold;
  color: black;
}

.postImage {
  border-radius: 3px 3px 0 0;
  height: 300px;
  object-fit: cover;
  width: 365px;
}

.link {
  display: block;
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  margin: none;
  font: inherit;
  padding: none;
}

.button {
  background-color: #69D9F7;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  min-width: 120px;
  max-width: 120px;
  padding: 10px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #5FC3DE;
}

.button:focus {
  outline: none;
}
